:root {
  font-size: 1.5rem;
}

.x-small {
  font-size: 0.5rem;
}

.small {
  font-size: 1rem;
}

.large {
  font-size: 2rem;
}

.x-large {
  font-size: 2.5rem;
}

footer {
  font-size: 2rem;
}

.description {
  font-size: 0.5em;
}
